demo.py
practice.py
map.py
factorial.py
prime.py
secondlargest.py
sets.py
substringmatch.py
splitsentencewords.py
dict.py
countoddeven.py
abstractmethod.py
factorail.py
filehandling.py
dgtalphaspeialcount.py

